ul.ul-top-menu {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  text-align: center;
}
.photo {
  display: inline-block; /* Строчно-блочный элемент */
  position: relative; /* Относительное позиционирование */
}
.photo:hover::after {
  content: attr(data-title); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  left: 0; right: 0; bottom: 5px; /* Положение подсказки */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  background: rgba(0,42,167,0.6); /* Полупрозрачный цвет фона */
  color: #fff; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  font-family: Arial, sans-serif; /* Гарнитура шрифта */
  font-size: 11px; /* Размер текста подсказки */
  padding: 5px 10px; /* Поля */
  border: 1px solid #333; /* Параметры рамки */
  transition: 1s; /* Время эффекта */
  transform: scale(1.05);
}
.scale {
  transition: 1s; /* Время эффекта */
}
.scale:hover {
  transform: scale(1.05); /* Увеличиваем масштаб */
}

a.a-top-menu {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
li.li-top-menu {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  margin-right:5px; /*Добавляем отступ у пунктов меню*/
  align-items: center;
}
p, h1 {
  text-align: center;
}
body{
  background-image: url("../images/flag.jpg");
}
@font-face {
  font-family: 'FontTable';
  src: url("../fonts/pobeda-regular.ttf") format("truetype");
}
table.victory{
  font-family: 'FontTable';
  font-size: 200%;
  display: flex;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, black, orange);
  background: url("../images/fon_final.jpg");
  text-shadow: 1px 1px;
}
button {
  margin: 0px 5px 0px 10px;
}
.custom-btn {
  padding: 10px 25px;
  font-family: "FontTable", sans-serif;
  font-size: 200%;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-4 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-4:before {
  height: 50%;
  width: 2px;
}
.btn-4:after {
  width: 20%;
  height: 2px;
}
.btn-4:hover:before {
  height: 100%;
}
.btn-4:hover:after {
  width: 100%;
}
.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: orange;
  transition: all 0.3s ease;
}
.btn-4 span:before {
  width: 2px;
  height: 50%;
}
.btn-4 span:after {
  width: 20%;
  height: 2px;
}
.btn-4 span:hover:before {
  height: 100%;
}
.btn-4 span:hover:after {
  width: 100%;
}

.buttons-coll {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}