ul.ul-top-menu {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
}
a.a-top-menu {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
li.li-top-menu {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  margin-right:5px; /*Добавляем отступ у пунктов меню*/
}